@charset "utf-8";
/* CSS Document */
html, body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	padding-top:100px;
	
}
#formulario {
	
	width:inherit;
	margin:auto;
}

.centro {
	text-align: center;
}
#tabela{
	width:70%;
	
	margin:auto;
	border:#696969 solid 1px;
}
.branco{
		background-color:#F5F5F5;
	}
	
a{
	padding:10px 40px;
	padding:10px 40px;
	background-color:#000;
	text-decoration:none;
	color:black;
	margin:3px;
	display:block;
	text-align:center;
	}	
a:hover{
	background: rgb(110, 106, 106);
}

/*Botões*/

.novo{
	padding: 10px 60px;
	background-color: #70A3F1;
	border-radius: 5px;
}

.altera{
	padding: 10px 40px;
	background-color: #70A3F1;
	border-radius: 5px;
}

.delete{
	padding: 10px 40px;
	background-color: red;
	border-radius: 5px;
}



td {
	margin: 5px;
	padding:10px;
	
	text-align:left;
}
div#centro a{
	display: inline 	;
	background-color: #FFFFFF;
}
div#centro {
	text-align: center;
}